.titulo{
    font-weight: bold;
}
.pe{
    font-size: 0.8em;
    color: #F39C12;
    font-weight: bold;
    margin-top: 20px; 
    text-align: justify;

}
.contenido{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}