<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Agregar el card aquí -->
  <ion-card>
    <img src="assets/logo2.png" class="ion-padding" />
    <ion-card-header>
      <ion-card-title class="texto">¿Quiénes somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      Somos un equipo de mentes innovadoras y comprometidas que se han unido con el propósito de abordar los desafíos actuales en la educación superior durante la pandemia. Nuestra pasión nos ha llevado a crear RegistrAPP, una solución tecnológica diseñada para simplificar y mejorar el proceso de registro de asistencia en entornos educativos presenciales. Estamos comprometidos con la creación de una herramienta que empodere tanto a docentes como a estudiantes, permitiéndoles adaptarse a esta nueva realidad de manera eficiente y efectiva.
      
      <p class="pe">Aquí tienes más información sobre el contexto actual:</p>
      <ul>
        <li><a href="https://www.uc.cl/noticias/desafios-para-la-educacion-escolar-post-y-con-pandemia/" target="_blank">Desafíos Educativos en la Pandemia</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
