<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/infoapp" expand="block" shape="round">
    <ion-icon name="information-circle" style="margin-right: 8px;"></ion-icon>
    Información
  </ion-button>
  <ion-button routerLink="/inisesion" expand="block" shape="round">
    <ion-icon name="log-in" style="margin-right: 8px;"></ion-icon>
    Iniciar sesión
  </ion-button>
  <ion-button routerLink="/registro" expand="block" shape="round">
    <ion-icon name="person-add" style="margin-right: 8px;"></ion-icon>
    Registrarse
  </ion-button>
</ion-content>
